*{
    
    margin: 0;
    font-family: Alegreya Sans SC;

    
}
#parent{
    background-image: url("IMG-20211003-WA0003.jpg");
    width: 60%;
    height: 800px;
    float: left;
    position: relative;
    
    
    
}
#child{
    background-image: url("IMG-20211003-WA0004.jpg");
   float: none;

    padding: 2%;
    position:absolute; top: 20px; left: 20%;
    width: 15%;
    height: 2px;
    
}
.imgc{
    background-image: url("IMG-20211003-WA0005.jpg");
   width: 40%;
    height: 800px;
    float: right;
    
   
}
input{
    width:40%;
    height: 50px;
    border-color: 10px solid rgb(255, 125, 50);
    border-radius: 25px;
   font-size: 20px;
    color:tomato;
}
.btn {
    display:inline;
    height: 50px;
    width: 10%;
    background-color: rgb(255, 99, 71);
    border-radius: 15px;
    color: white;
    font-size: 25px;
    
  }
  
